
header {
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: black;
    padding: 10px;
    text-align: center;
}

nav ul {
	nav ul li a {
    color: white;
    text-decoration: none;
}

    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Style for the Main Section */
main {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px 0;
}

aside {
    background-color: lightgray;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #e5e5e5;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
